html
  head 
    include includes/header.pug
    include includes/bootstap_head.pug
    link(
      rel= "stylesheet",
      href="../styles/style.css" 
    )
    script(
      src="../scripts/script.js"
      type="text/javascript"
    )
  body( onload = 'init()')      
    include includes/navbar.pug
    div#container
      h1 Select.  
      button(
        onClick = "findMore()"
      ) Find More
      div#movie-list
    
    include includes/required_files.pug