html
  head 
    include includes/header.pug
    include includes/bootstap_head.pug
    link(
      rel= "stylesheet",
      href="../styles/style.css" 
    )
    script(
      src="../scripts/script.js"
      type="text/javascript"
    )
  body( onload = 'init()')      
    include includes/navbar.pug
    .container.mt-2 
      .row.justify-content-center#movie-list
         each i in [1,2,3,4,5,6,7,8,9,10,11,12]
          .col-sm-6.col-md-4.col-lg-3.mb-2
            .card
              .skeleton
                div.skl-image.skl-bg
                div.skl-text.skl-bg
                div.skl-text.skl-text-half.skl-bg
                div.skl-text.skl-bg
    include includes/required_files.pug