html
  head 
    include includes/bootstap_head.pug
    link(
      rel= "stylesheet",
      href="../styles/login.css" 
    )
    //- script(
    //-   src="../scripts/script.js"
    //-   type="text/javascript"
    //- )
  body
    a(
      href = '/auth/google'
    ) login
                          
    include includes/required_files.pug