*{
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

/* 
  
*/

.ctm-bl-y{
  border-left: 10px solid #ebe70c;
}

.ctm-bg-dark{
  background-color:#20013d;
}

.ctm-bg-light{
  color:#ebe70c;
}

/* 182 * 268  */

.skeleton{
  min-height: 300px;
  min-width:  182;
  padding: 0.5em;
  margin: auto;
}

.skl-bg{
  background-color: #f5f5f0;
}

.skl-image{
  position: relative;
  width: 182px !important; 
  height: 128px !important;
  margin:2em auto 1.2em auto;
  z-index: 1;
}

.skl-image:before{
  position:absolute;
  width: 182px; 
  height: 128px;
  content:"";
  z-index: -1;
  background:radial-gradient(circle,white,transparent);
  background-size:400%;
  animation: 1s skl-effect ease infinite;
}


.skl-text{
  width: 182px;
  height: 25px;
  margin-bottom: 0.2em;
  /* margin:0em auto 1em auto; */
}

.skl-text:before{
  position:absolute;
  width: 182px;
  height: 25px;
  content:"";
  background:radial-gradient(circle,white,transparent);
  background-size:200%;
  animation: 1s skl-effect ease infinite;
}

.skl-text-half{
  width: 91px;
  /* margin:0em auto 1em 2.4em; */
}

.skl-text-half:before{
  position:absolute;
  width: 91px;
  content:"";
  background:radial-gradient(circle,white,transparent);
  background-size:200%;
  animation: 1s skl-effect ease infinite;
}

@keyframes skl-effect {
    0%{margin-left:-100%}
    100%{margin-left:100%}
}

/* @media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }
  
  body {
    padding:0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
} */

/* 
#container{
  padding-left: 10%;
  padding-top: 2%;
}

#container h1{
  animation: 370ms slide-left;
  display: inline-block;
  color: #20013d;
  padding: 15px 15px 15px 15px;
  border-left: 5px solid #20013d;
}

#container button{
  background: #ebe70c;
  border: none;
  padding: 15px 40% 15px 40%; 
  font-weight: bold;  
  margin-left: 0%;
  display: block;
}

@media(min-width:600px){
  #container button{
    margin-left: 65%;
    display: inline-block;
    padding: 15px 15px 15px 15px;
  }
}

.movie-item{ 
  background-clip: padding-box;
  display: inline-block;
  position: relative;   
  margin: 0px 2px 2px 0px;
  animation: 340ms slide-in;
  border: 4px solid white;
}


.movie-item .content{
    color: #20013d;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 1px 0px 1px 5px;
    font-weight: bold;
    border-bottom: 4px solid #20013d;
}

.movie-item[select="true"]{ 
    border: 4px solid #6ad307;
  }

.movie-item[select="true"] .content{
    color: #4e9110;
    border-bottom: 4px solid #6ad307;
}

.movie-item .name{   
    display: inline-block;
    position: relative;
    background-color: inherit;
    padding-left: 6%;
}

.movie-item .image{
    width: 250px;
    height: 200px;
    border-radius: inherit;
}

@keyframes slide-in { 
    from{
        margin-top: 10%;
    }
    to{
        margin-top: inherit;
    }
}

@keyframes slide-left{ 
    from{
        padding-left: 50px;
        padding-top:50px;
        padding-bottom:50px;
    }
    to{
        padding-top:intial;
        padding-bottom:intial;
        padding-left: intial;
    }
} */